<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="duanzu.dao.PriceAndRequestInfoMapper" >
  <resultMap id="BaseResultMap" type="duanzu.entity.PriceAndRequestInfo" >
    <id column="price_info_id" property="priceInfoId" jdbcType="VARCHAR" />
    <result column="house_id" property="houseId" jdbcType="VARCHAR" />
    <result column="day_price" property="dayPrice" jdbcType="VARCHAR" />
    <result column="week_price" property="weekPrice" jdbcType="VARCHAR" />
    <result column="clean_price" property="cleanPrice" jdbcType="VARCHAR" />
    <result column="cash_pledge" property="cashPledge" jdbcType="VARCHAR" />
    <result column="less_day" property="lessDay" jdbcType="VARCHAR" />
    <result column="more_day" property="moreDay" jdbcType="VARCHAR" />
    <result column="check_in_start_time" property="checkInStartTime" jdbcType="VARCHAR" />
    <result column="check_in_end_time" property="checkInEndTime" jdbcType="VARCHAR" />
    <result column="check_out_time" property="checkOutTime" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    price_info_id, house_id, day_price, week_price, clean_price, cash_pledge, less_day, 
    more_day, check_in_start_time, check_in_end_time, check_out_time, remark1
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="duanzu.entity.PriceAndRequestInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from price_and_request_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from price_and_request_info
    where price_info_id = #{priceInfoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from price_and_request_info
    where price_info_id = #{priceInfoId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="duanzu.entity.PriceAndRequestInfoExample" >
    delete from price_and_request_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="duanzu.entity.PriceAndRequestInfo" >
    insert into price_and_request_info (price_info_id, house_id, day_price, 
      week_price, clean_price, cash_pledge, 
      less_day, more_day, check_in_start_time, 
      check_in_end_time, check_out_time, remark1
      )
    values (#{priceInfoId,jdbcType=VARCHAR}, #{houseId,jdbcType=VARCHAR}, #{dayPrice,jdbcType=VARCHAR}, 
      #{weekPrice,jdbcType=VARCHAR}, #{cleanPrice,jdbcType=VARCHAR}, #{cashPledge,jdbcType=VARCHAR}, 
      #{lessDay,jdbcType=VARCHAR}, #{moreDay,jdbcType=VARCHAR}, #{checkInStartTime,jdbcType=VARCHAR}, 
      #{checkInEndTime,jdbcType=VARCHAR}, #{checkOutTime,jdbcType=VARCHAR}, #{remark1,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="duanzu.entity.PriceAndRequestInfo" >
    insert into price_and_request_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="priceInfoId != null" >
        price_info_id,
      </if>
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="dayPrice != null" >
        day_price,
      </if>
      <if test="weekPrice != null" >
        week_price,
      </if>
      <if test="cleanPrice != null" >
        clean_price,
      </if>
      <if test="cashPledge != null" >
        cash_pledge,
      </if>
      <if test="lessDay != null" >
        less_day,
      </if>
      <if test="moreDay != null" >
        more_day,
      </if>
      <if test="checkInStartTime != null" >
        check_in_start_time,
      </if>
      <if test="checkInEndTime != null" >
        check_in_end_time,
      </if>
      <if test="checkOutTime != null" >
        check_out_time,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="priceInfoId != null" >
        #{priceInfoId,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null" >
        #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="dayPrice != null" >
        #{dayPrice,jdbcType=VARCHAR},
      </if>
      <if test="weekPrice != null" >
        #{weekPrice,jdbcType=VARCHAR},
      </if>
      <if test="cleanPrice != null" >
        #{cleanPrice,jdbcType=VARCHAR},
      </if>
      <if test="cashPledge != null" >
        #{cashPledge,jdbcType=VARCHAR},
      </if>
      <if test="lessDay != null" >
        #{lessDay,jdbcType=VARCHAR},
      </if>
      <if test="moreDay != null" >
        #{moreDay,jdbcType=VARCHAR},
      </if>
      <if test="checkInStartTime != null" >
        #{checkInStartTime,jdbcType=VARCHAR},
      </if>
      <if test="checkInEndTime != null" >
        #{checkInEndTime,jdbcType=VARCHAR},
      </if>
      <if test="checkOutTime != null" >
        #{checkOutTime,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="duanzu.entity.PriceAndRequestInfoExample" resultType="java.lang.Integer" >
    select count(*) from price_and_request_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update price_and_request_info
    <set >
      <if test="record.priceInfoId != null" >
        price_info_id = #{record.priceInfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.houseId != null" >
        house_id = #{record.houseId,jdbcType=VARCHAR},
      </if>
      <if test="record.dayPrice != null" >
        day_price = #{record.dayPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.weekPrice != null" >
        week_price = #{record.weekPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.cleanPrice != null" >
        clean_price = #{record.cleanPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.cashPledge != null" >
        cash_pledge = #{record.cashPledge,jdbcType=VARCHAR},
      </if>
      <if test="record.lessDay != null" >
        less_day = #{record.lessDay,jdbcType=VARCHAR},
      </if>
      <if test="record.moreDay != null" >
        more_day = #{record.moreDay,jdbcType=VARCHAR},
      </if>
      <if test="record.checkInStartTime != null" >
        check_in_start_time = #{record.checkInStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.checkInEndTime != null" >
        check_in_end_time = #{record.checkInEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.checkOutTime != null" >
        check_out_time = #{record.checkOutTime,jdbcType=VARCHAR},
      </if>
      <if test="record.remark1 != null" >
        remark1 = #{record.remark1,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update price_and_request_info
    set price_info_id = #{record.priceInfoId,jdbcType=VARCHAR},
      house_id = #{record.houseId,jdbcType=VARCHAR},
      day_price = #{record.dayPrice,jdbcType=VARCHAR},
      week_price = #{record.weekPrice,jdbcType=VARCHAR},
      clean_price = #{record.cleanPrice,jdbcType=VARCHAR},
      cash_pledge = #{record.cashPledge,jdbcType=VARCHAR},
      less_day = #{record.lessDay,jdbcType=VARCHAR},
      more_day = #{record.moreDay,jdbcType=VARCHAR},
      check_in_start_time = #{record.checkInStartTime,jdbcType=VARCHAR},
      check_in_end_time = #{record.checkInEndTime,jdbcType=VARCHAR},
      check_out_time = #{record.checkOutTime,jdbcType=VARCHAR},
      remark1 = #{record.remark1,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="duanzu.entity.PriceAndRequestInfo" >
    update price_and_request_info
    <set >
      <if test="houseId != null" >
        house_id = #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="dayPrice != null" >
        day_price = #{dayPrice,jdbcType=VARCHAR},
      </if>
      <if test="weekPrice != null" >
        week_price = #{weekPrice,jdbcType=VARCHAR},
      </if>
      <if test="cleanPrice != null" >
        clean_price = #{cleanPrice,jdbcType=VARCHAR},
      </if>
      <if test="cashPledge != null" >
        cash_pledge = #{cashPledge,jdbcType=VARCHAR},
      </if>
      <if test="lessDay != null" >
        less_day = #{lessDay,jdbcType=VARCHAR},
      </if>
      <if test="moreDay != null" >
        more_day = #{moreDay,jdbcType=VARCHAR},
      </if>
      <if test="checkInStartTime != null" >
        check_in_start_time = #{checkInStartTime,jdbcType=VARCHAR},
      </if>
      <if test="checkInEndTime != null" >
        check_in_end_time = #{checkInEndTime,jdbcType=VARCHAR},
      </if>
      <if test="checkOutTime != null" >
        check_out_time = #{checkOutTime,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
    </set>
    where price_info_id = #{priceInfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="duanzu.entity.PriceAndRequestInfo" >
    update price_and_request_info
    set house_id = #{houseId,jdbcType=VARCHAR},
      day_price = #{dayPrice,jdbcType=VARCHAR},
      week_price = #{weekPrice,jdbcType=VARCHAR},
      clean_price = #{cleanPrice,jdbcType=VARCHAR},
      cash_pledge = #{cashPledge,jdbcType=VARCHAR},
      less_day = #{lessDay,jdbcType=VARCHAR},
      more_day = #{moreDay,jdbcType=VARCHAR},
      check_in_start_time = #{checkInStartTime,jdbcType=VARCHAR},
      check_in_end_time = #{checkInEndTime,jdbcType=VARCHAR},
      check_out_time = #{checkOutTime,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR}
    where price_info_id = #{priceInfoId,jdbcType=VARCHAR}
  </update>
</mapper>